@import "tailwindcss";

/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */

@layer utilities{

    /* STICKY NAVBAR START!!! */
    .sticky{
        background: #899f87b9;
    }
    /* STICKY NAVBAR END!!! */
    /* ================================ */

    @keyframes marquee {
        0%   { transform: translateX(0); }
        100% { transform: translateX(-50%); }
    }

    .animate-marquee {
        animation: marquee 18s linear infinite;
    }

    .activeBtn{
        background: #C8D8C0;
        color: #213721;
    }
    
}

@font-face {
    font-family: 'aileron';
    src: url('../fonts/aileron.bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'aileron';
    src: url('../fonts/aileron.semibold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'aileron';
    src: url('../fonts/aileron.regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'aileron';
    src: url('../fonts/aileron.light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'ivy-mode';
    src: url('../fonts/ivy-mode-light.ttf');
    font-weight: 300;
}

.ail-700{
    font-family: "aileron";
    font-weight: 700;
}

.ail-600{
    font-family: "aileron";
    font-weight: 600;
}

.ail-400{
    font-family: "aileron";
    font-weight: 400;
}

.ail-300{
    font-family: "aileron";
    font-weight: 300;
}

.ivy-300{
    font-family: "ivy-mode";
    font-weight: 300;
}